.card-container{
    margin: 50px auto;
    text-align: center;
}

.word-container {
	display: table;
	margin: auto;
    text-align: center;
}

.result-button,
.toggle-button {
    padding: 10px;
    margin: 10px;
    width: 150px;
}

.result-button {
    color: white;
    background-color: rgba(64, 213, 64, 0.879);
}

.toggle-button {
    color: white;
    background-color: rgb(8, 125, 227);
}

.answer-container {
    text-align: center;
    width: 800px;
    margin: 0px auto;
}