.card-container{
    margin: 50px auto;
    text-align: center;
    min-height: 300px;
}

.word-container {
	display: table;
	margin: auto;
    text-align: center;
}

.revision-button {
    padding: 10px;
    margin: 10px;
    width: 150px;
    color: white;
    font-weight: 700;
}

.answer-container {
    text-align: center;
    width: 80%;
    margin: 25px auto;
}